<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpack 0</title>
    <!-- <link rel="stylesheet" href="main.css"> -->
    <!-- <script src="main.bundle.js" defer></script> -->
</head>
<body>
    <div class="container">
        <header class="top-header">
            <!-- <img src="<%= require('./images/webpack-logo.png') %>" alt="webpack logo" class="banner"> -->
            <img src="<%= require('./images/webpack-logo.png') %>" alt="webpack logo" class="banner">
            <div class="header-text" id="header-text">
                <h1 class="h1-xxxl">Webpack - 0</h1>
            </div>
        </header>
        <main id="home-main">
            <h1 class="text-center" id="h1One"></h1>
        </main>
        <footer>

        </footer>
    </div>
</body>
</html>